__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
*/*/*/*/__pycache__/*
*/*/*/*/*/__pycache__/*
.vscode
.hypothesis
figs/old/*
figs/*
examples/figs/*


*.asv
*.m~
**/.DS_Store
*.pyc

riecovest.egg-info

.gitignore.bak
*.bak

docs/source/_autosummary
docs/source/_autosummary/*
docs/build/*