__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
*/*/*/*/__pycache__/*
*/*/*/*/*/__pycache__/*
.vscode
.hypothesis
figs/old/*
figs/*
examples/figs/*


*.asv
*.m~
**/.DS_Store
*.pyc

riecovest.egg-info

.gitignore.bak
*.bak

docs/source/_autosummary
docs/source/_autosummary/*
docs/build/*

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg